In [38]:
#lib'leri importladım
import pandas as pd
import matplotlib as plt
#dosyaları okuttum

population = pd.read_csv("/Users/elifozlem/Downloads/population.csv", index_col=0, header=0)
life = pd.read_csv("/Users/elifozlem/Downloads/life expectancy (1).csv", index_col=0, header=0)
gdp = pd.read_csv("/Users/elifozlem/Downloads/gdp_pcap (1).csv", index_col=0, header=0)
population.reset_index(inplace=True)
population.index.name = None  # Remove the name of the index (country)
life.reset_index(inplace=True)
life.index.name = None  # Remove the name of the index (country)
gdp.reset_index(inplace=True)
gdp.index.name = None  # Remove the name of the index (country)
# Print the first few rows of the modified Population data to verify

print("Population data:")
print(population.head())
print("\nLife expectancy data:")
print(life.head())
print("\nGDP per capita data:")
print(gdp.head())


# Reset index and remove the name of the index (country) only for the Population data

Population data:
       country   1800   1801   1802   1803   1804   1805   1806   1807   1808  \
0  Afghanistan  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M
1       Angola  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M
2      Albania   400k   402k   404k   405k   407k   409k   411k   413k   414k
3      Andorra   2650   2650   2650   2650   2650   2650   2650   2650   2650
4          UAE  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k

   ...   2091   2092   2093   2094   2095   2096   2097   2098   2099   2100
0  ...   108M   108M   109M   109M   109M   110M   110M   110M   111M   111M
1  ...   125M   126M   127M   128M   129M   130M   131M   131M   132M   133M
2  ...  1.35M  1.32M  1.29M  1.26M  1.23M  1.21M  1.18M  1.15M  1.12M   1.1M
3  ...  62.5k  62.2k  61.9k  61.7k  61.4k  61.2k  60.9k  60.7k  60.5k  60.2k
4  ...  13.5M  13.5M  13.6M  13.7M  13.8M  13.8M  13.9M    14M    14M  14.1M

[5 rows x 302 columns]

Life expectancy data:
       country  1800  1801  1802  1803  1804  1805  1806  1807  1808  ...  \
0  Afghanistan  28.2  28.2  28.2  28.2  28.2  28.2  28.1  28.1  28.1  ...
1       Angola  27.0  27.0  27.0  27.0  27.0  27.0  27.0  27.0  27.0  ...
2      Albania  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4  35.4  ...
3      Andorra   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
4          UAE  30.7  30.7  30.7  30.7  30.7  30.7  30.7  30.7  30.7  ...

   2091  2092  2093  2094  2095  2096  2097  2098  2099  2100
0  75.5  75.7  75.8  76.0  76.1  76.2  76.4  76.5  76.6  76.8
1  78.8  79.0  79.1  79.2  79.3  79.5  79.6  79.7  79.9  80.0
2  87.4  87.5  87.6  87.7  87.8  87.9  88.0  88.2  88.3  88.4
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  82.4  82.5  82.6  82.7  82.8  82.9  83.0  83.1  83.2  83.3

[5 rows x 302 columns]

GDP per capita data:
       country  1800  1801  1802  1803  1804  1805  1806  1807  1808  ...  \
0  Afghanistan   599   599   599   599   599   599   599   599   599  ...
1       Angola   465   466   469   471   472   475   477   479   481  ...
2      Albania   585   587   588   590   592   593   595   597   598  ...
3      Andorra  1710  1710  1710  1720  1720  1720  1730  1730  1730  ...
4          UAE  1420  1430  1430  1440  1450  1450  1460  1460  1470  ...

    2091   2092   2093   2094   2095   2096   2097   2098   2099   2100
0   4800   4910   5030   5150   5270   5390   5520   5650   5780   5920
1  24.8k  25.3k  25.9k  26.4k  26.9k  27.4k    28k  28.5k  29.1k  29.6k
2    54k  54.6k  55.2k  55.8k  56.4k  56.9k  57.5k  58.1k  58.7k  59.2k
3  79.3k  79.5k  79.8k  80.1k  80.4k  80.7k    81k  81.2k  81.5k  81.8k
4  92.5k  92.6k  92.6k  92.7k  92.8k  92.9k  92.9k    93k  93.1k  93.1k

[5 rows x 302 columns]

Population columns: Index(['1800', '1801', '1802', '1803', '1804', '1805', '1806', '1807', '1808',
       '1809',
       ...
       '2091', '2092', '2093', '2094', '2095', '2096', '2097', '2098', '2099',
       '2100'],
      dtype='object', length=301)
Life expectancy columns: Index(['1800', '1801', '1802', '1803', '1804', '1805', '1806', '1807', '1808',
       '1809',
       ...
       '2091', '2092', '2093', '2094', '2095', '2096', '2097', '2098', '2099',
       '2100'],
      dtype='object', length=301)

In [ ]:

#mergeledim

In [40]:
merged_data = population.merge(life, on="country")


merged_data = merged_data.merge(gdp, on="country")


print("Merged data:")
print(merged_data.head())

Merged data:
       country 1800_x 1801_x 1802_x 1803_x 1804_x 1805_x 1806_x 1807_x 1808_x  \
0  Afghanistan  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M
1       Angola  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M
2      Albania   400k   402k   404k   405k   407k   409k   411k   413k   414k
3      Andorra   2650   2650   2650   2650   2650   2650   2650   2650   2650
4          UAE  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k

   ...   2091   2092   2093   2094   2095   2096   2097   2098   2099   2100
0  ...   4800   4910   5030   5150   5270   5390   5520   5650   5780   5920
1  ...  24.8k  25.3k  25.9k  26.4k  26.9k  27.4k    28k  28.5k  29.1k  29.6k
2  ...    54k  54.6k  55.2k  55.8k  56.4k  56.9k  57.5k  58.1k  58.7k  59.2k
3  ...  79.3k  79.5k  79.8k  80.1k  80.4k  80.7k    81k  81.2k  81.5k  81.8k
4  ...  92.5k  92.6k  92.6k  92.7k  92.8k  92.9k  92.9k    93k  93.1k  93.1k

[5 rows x 904 columns]

In [56]:
#drop missing values
merged_data = merged_data.dropna()

# Print the first few rows of the merged data after dropping missing values
#print("Merged data after dropping missing values:")
#print(merged_data.head())



print(merged_data.columns)

Index(['country', '1800_x', '1801_x', '1802_x', '1803_x', '1804_x', '1805_x',
       '1806_x', '1807_x', '1808_x',
       ...
       '2091', '2092', '2093', '2094', '2095', '2096', '2097', '2098', '2099',
       '2100'],
      dtype='object', length=904)

In [44]:
print("First 5 rows of the dataset:")
print(merged_data.head())

# Display the last 5 rows of the dataset
print("Last 5 rows of the dataset:")
print(merged_data.tail())

First 5 rows of the dataset:
       country 1800_x 1801_x 1802_x 1803_x 1804_x 1805_x 1806_x 1807_x 1808_x  \
0  Afghanistan  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M
1       Angola  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M
2      Albania   400k   402k   404k   405k   407k   409k   411k   413k   414k
4          UAE  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k
5    Argentina   534k   520k   506k   492k   479k   466k   453k   441k   429k

   ...   2091   2092   2093   2094   2095   2096   2097   2098   2099   2100
0  ...   4800   4910   5030   5150   5270   5390   5520   5650   5780   5920
1  ...  24.8k  25.3k  25.9k  26.4k  26.9k  27.4k    28k  28.5k  29.1k  29.6k
2  ...    54k  54.6k  55.2k  55.8k  56.4k  56.9k  57.5k  58.1k  58.7k  59.2k
4  ...  92.5k  92.6k  92.6k  92.7k  92.8k  92.9k  92.9k    93k  93.1k  93.1k
5  ...  59.7k  60.2k  60.8k  61.3k  61.9k  62.4k  62.9k  63.5k    64k  64.5k

[5 rows x 904 columns]
Last 5 rows of the dataset:
          country 1800_x 1801_x 1802_x 1803_x 1804_x 1805_x 1806_x 1807_x  \
190         Samoa  47.3k  47.3k  47.3k  47.3k  47.3k  47.3k  47.3k  47.2k
191         Yemen  2.59M  2.59M  2.59M  2.59M  2.59M  2.59M  2.59M  2.59M
192  South Africa  1.45M  1.45M  1.46M  1.46M  1.47M  1.47M  1.48M  1.49M
193        Zambia   747k   758k   770k   782k   794k   806k   818k   831k
194      Zimbabwe  1.09M  1.09M  1.09M  1.09M  1.09M  1.09M  1.09M  1.09M

    1808_x  ...   2091   2092   2093   2094   2095   2096   2097   2098  \
190  47.2k  ...  24.5k    25k  25.5k    26k  26.5k    27k  27.6k  28.1k
191  2.59M  ...   6450   6600   6760   6930   7100   7270   7450   7630
192  1.49M  ...  44.7k  45.3k  45.9k  46.5k  47.2k  47.8k  48.4k    49k
193   843k  ...    16k  16.3k  16.7k  17.1k  17.5k  17.9k  18.3k  18.7k
194  1.09M  ...   9540   9780    10k  10.3k  10.5k  10.8k    11k  11.3k

      2099   2100
190  28.6k  29.2k
191   7810   8000
192  49.6k  50.2k
193  19.1k  19.6k
194  11.6k  11.9k

[5 rows x 904 columns]

In [62]:

print("\nFirst 5 rows:")
print(merged_data.head())

print("\nLast 5 rows:")
print(merged_data.tail())

data_2000 = merged_data[['country', '2000']]
print("Data for the year 2000:")
print(data_2000)

First 5 rows:
       country 1800_x 1801_x 1802_x 1803_x 1804_x 1805_x 1806_x 1807_x 1808_x  \
0  Afghanistan  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M
1       Angola  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M
2      Albania   400k   402k   404k   405k   407k   409k   411k   413k   414k
4          UAE  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k
5    Argentina   534k   520k   506k   492k   479k   466k   453k   441k   429k

   ...   2091   2092   2093   2094   2095   2096   2097   2098   2099   2100
0  ...   4800   4910   5030   5150   5270   5390   5520   5650   5780   5920
1  ...  24.8k  25.3k  25.9k  26.4k  26.9k  27.4k    28k  28.5k  29.1k  29.6k
2  ...    54k  54.6k  55.2k  55.8k  56.4k  56.9k  57.5k  58.1k  58.7k  59.2k
4  ...  92.5k  92.6k  92.6k  92.7k  92.8k  92.9k  92.9k    93k  93.1k  93.1k
5  ...  59.7k  60.2k  60.8k  61.3k  61.9k  62.4k  62.9k  63.5k    64k  64.5k

[5 rows x 904 columns]

Last 5 rows:
          country 1800_x 1801_x 1802_x 1803_x 1804_x 1805_x 1806_x 1807_x  \
190         Samoa  47.3k  47.3k  47.3k  47.3k  47.3k  47.3k  47.3k  47.2k
191         Yemen  2.59M  2.59M  2.59M  2.59M  2.59M  2.59M  2.59M  2.59M
192  South Africa  1.45M  1.45M  1.46M  1.46M  1.47M  1.47M  1.48M  1.49M
193        Zambia   747k   758k   770k   782k   794k   806k   818k   831k
194      Zimbabwe  1.09M  1.09M  1.09M  1.09M  1.09M  1.09M  1.09M  1.09M

    1808_x  ...   2091   2092   2093   2094   2095   2096   2097   2098  \
190  47.2k  ...  24.5k    25k  25.5k    26k  26.5k    27k  27.6k  28.1k
191  2.59M  ...   6450   6600   6760   6930   7100   7270   7450   7630
192  1.49M  ...  44.7k  45.3k  45.9k  46.5k  47.2k  47.8k  48.4k    49k
193   843k  ...    16k  16.3k  16.7k  17.1k  17.5k  17.9k  18.3k  18.7k
194  1.09M  ...   9540   9780    10k  10.3k  10.5k  10.8k    11k  11.3k

      2099   2100
190  28.6k  29.2k
191   7810   8000
192  49.6k  50.2k
193  19.1k  19.6k
194  11.6k  11.9k

[5 rows x 904 columns]
Data for the year 2000:
          country   2000
0     Afghanistan    794
1          Angola   4400
2         Albania   6020
4             UAE  92.4k
5       Argentina  18.8k
..            ...    ...
190         Samoa   4410
191         Yemen   4020
192  South Africa  10.6k
193        Zambia   2090
194      Zimbabwe   2800

[186 rows x 2 columns]

In [64]:
unique_countries = merged_data['country'].unique()
print("\nUnique countries represented in the dataset:")
print(unique_countries)

Unique countries represented in the dataset:
['Afghanistan' 'Angola' 'Albania' 'UAE' 'Argentina' 'Armenia'
 'Antigua and Barbuda' 'Australia' 'Austria' 'Azerbaijan' 'Burundi'
 'Belgium' 'Benin' 'Burkina Faso' 'Bangladesh' 'Bulgaria' 'Bahrain'
 'Bahamas' 'Bosnia and Herzegovina' 'Belarus' 'Belize' 'Bolivia' 'Brazil'
 'Barbados' 'Brunei' 'Bhutan' 'Botswana' 'Central African Republic'
 'Canada' 'Switzerland' 'Chile' 'China' "Cote d'Ivoire" 'Cameroon'
 'Congo, Dem. Rep.' 'Congo, Rep.' 'Colombia' 'Comoros' 'Cape Verde'
 'Costa Rica' 'Cuba' 'Cyprus' 'Czech Republic' 'Germany' 'Djibouti'
 'Denmark' 'Dominican Republic' 'Algeria' 'Ecuador' 'Egypt' 'Eritrea'
 'Spain' 'Estonia' 'Ethiopia' 'Finland' 'Fiji' 'France'
 'Micronesia, Fed. Sts.' 'Gabon' 'UK' 'Georgia' 'Ghana' 'Guinea' 'Gambia'
 'Guinea-Bissau' 'Equatorial Guinea' 'Greece' 'Grenada' 'Guatemala'
 'Guyana' 'Hong Kong, China' 'Honduras' 'Croatia' 'Haiti' 'Hungary'
 'Indonesia' 'India' 'Ireland' 'Iran' 'Iraq' 'Iceland' 'Israel' 'Italy'
 'Jamaica' 'Jordan' 'Japan' 'Kazakhstan' 'Kenya' 'Kyrgyz Republic'
 'Cambodia' 'Kiribati' 'South Korea' 'Kuwait' 'Lao' 'Lebanon' 'Liberia'
 'Libya' 'St. Lucia' 'Sri Lanka' 'Lesotho' 'Lithuania' 'Luxembourg'
 'Latvia' 'Morocco' 'Moldova' 'Madagascar' 'Maldives' 'Mexico'
 'North Macedonia' 'Mali' 'Malta' 'Myanmar' 'Montenegro' 'Mongolia'
 'Mozambique' 'Mauritania' 'Mauritius' 'Malawi' 'Malaysia' 'Namibia'
 'Niger' 'Nigeria' 'Nicaragua' 'Netherlands' 'Norway' 'Nepal'
 'New Zealand' 'Oman' 'Pakistan' 'Panama' 'Peru' 'Philippines'
 'Papua New Guinea' 'Poland' 'North Korea' 'Portugal' 'Paraguay'
 'Palestine' 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saudi Arabia' 'Sudan'
 'Senegal' 'Singapore' 'Solomon Islands' 'Sierra Leone' 'El Salvador'
 'Somalia' 'Serbia' 'South Sudan' 'Sao Tome and Principe' 'Suriname'
 'Slovak Republic' 'Slovenia' 'Sweden' 'Eswatini' 'Seychelles' 'Syria'
 'Chad' 'Togo' 'Thailand' 'Tajikistan' 'Turkmenistan' 'Timor-Leste'
 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Taiwan' 'Tanzania'
 'Uganda' 'Ukraine' 'Uruguay' 'USA' 'Uzbekistan'
 'St. Vincent and the Grenadines' 'Venezuela' 'Vietnam' 'Vanuatu' 'Samoa'
 'Yemen' 'South Africa' 'Zambia' 'Zimbabwe']

In [66]:
for index, country in enumerate(unique_countries):
    print(f"Index: {index}, Country: {country}")

Index: 0, Country: Afghanistan
Index: 1, Country: Angola
Index: 2, Country: Albania
Index: 3, Country: UAE
Index: 4, Country: Argentina
Index: 5, Country: Armenia
Index: 6, Country: Antigua and Barbuda
Index: 7, Country: Australia
Index: 8, Country: Austria
Index: 9, Country: Azerbaijan
Index: 10, Country: Burundi
Index: 11, Country: Belgium
Index: 12, Country: Benin
Index: 13, Country: Burkina Faso
Index: 14, Country: Bangladesh
Index: 15, Country: Bulgaria
Index: 16, Country: Bahrain
Index: 17, Country: Bahamas
Index: 18, Country: Bosnia and Herzegovina
Index: 19, Country: Belarus
Index: 20, Country: Belize
Index: 21, Country: Bolivia
Index: 22, Country: Brazil
Index: 23, Country: Barbados
Index: 24, Country: Brunei
Index: 25, Country: Bhutan
Index: 26, Country: Botswana
Index: 27, Country: Central African Republic
Index: 28, Country: Canada
Index: 29, Country: Switzerland
Index: 30, Country: Chile
Index: 31, Country: China
Index: 32, Country: Cote d'Ivoire
Index: 33, Country: Cameroon
Index: 34, Country: Congo, Dem. Rep.
Index: 35, Country: Congo, Rep.
Index: 36, Country: Colombia
Index: 37, Country: Comoros
Index: 38, Country: Cape Verde
Index: 39, Country: Costa Rica
Index: 40, Country: Cuba
Index: 41, Country: Cyprus
Index: 42, Country: Czech Republic
Index: 43, Country: Germany
Index: 44, Country: Djibouti
Index: 45, Country: Denmark
Index: 46, Country: Dominican Republic
Index: 47, Country: Algeria
Index: 48, Country: Ecuador
Index: 49, Country: Egypt
Index: 50, Country: Eritrea
Index: 51, Country: Spain
Index: 52, Country: Estonia
Index: 53, Country: Ethiopia
Index: 54, Country: Finland
Index: 55, Country: Fiji
Index: 56, Country: France
Index: 57, Country: Micronesia, Fed. Sts.
Index: 58, Country: Gabon
Index: 59, Country: UK
Index: 60, Country: Georgia
Index: 61, Country: Ghana
Index: 62, Country: Guinea
Index: 63, Country: Gambia
Index: 64, Country: Guinea-Bissau
Index: 65, Country: Equatorial Guinea
Index: 66, Country: Greece
Index: 67, Country: Grenada
Index: 68, Country: Guatemala
Index: 69, Country: Guyana
Index: 70, Country: Hong Kong, China
Index: 71, Country: Honduras
Index: 72, Country: Croatia
Index: 73, Country: Haiti
Index: 74, Country: Hungary
Index: 75, Country: Indonesia
Index: 76, Country: India
Index: 77, Country: Ireland
Index: 78, Country: Iran
Index: 79, Country: Iraq
Index: 80, Country: Iceland
Index: 81, Country: Israel
Index: 82, Country: Italy
Index: 83, Country: Jamaica
Index: 84, Country: Jordan
Index: 85, Country: Japan
Index: 86, Country: Kazakhstan
Index: 87, Country: Kenya
Index: 88, Country: Kyrgyz Republic
Index: 89, Country: Cambodia
Index: 90, Country: Kiribati
Index: 91, Country: South Korea
Index: 92, Country: Kuwait
Index: 93, Country: Lao
Index: 94, Country: Lebanon
Index: 95, Country: Liberia
Index: 96, Country: Libya
Index: 97, Country: St. Lucia
Index: 98, Country: Sri Lanka
Index: 99, Country: Lesotho
Index: 100, Country: Lithuania
Index: 101, Country: Luxembourg
Index: 102, Country: Latvia
Index: 103, Country: Morocco
Index: 104, Country: Moldova
Index: 105, Country: Madagascar
Index: 106, Country: Maldives
Index: 107, Country: Mexico
Index: 108, Country: North Macedonia
Index: 109, Country: Mali
Index: 110, Country: Malta
Index: 111, Country: Myanmar
Index: 112, Country: Montenegro
Index: 113, Country: Mongolia
Index: 114, Country: Mozambique
Index: 115, Country: Mauritania
Index: 116, Country: Mauritius
Index: 117, Country: Malawi
Index: 118, Country: Malaysia
Index: 119, Country: Namibia
Index: 120, Country: Niger
Index: 121, Country: Nigeria
Index: 122, Country: Nicaragua
Index: 123, Country: Netherlands
Index: 124, Country: Norway
Index: 125, Country: Nepal
Index: 126, Country: New Zealand
Index: 127, Country: Oman
Index: 128, Country: Pakistan
Index: 129, Country: Panama
Index: 130, Country: Peru
Index: 131, Country: Philippines
Index: 132, Country: Papua New Guinea
Index: 133, Country: Poland
Index: 134, Country: North Korea
Index: 135, Country: Portugal
Index: 136, Country: Paraguay
Index: 137, Country: Palestine
Index: 138, Country: Qatar
Index: 139, Country: Romania
Index: 140, Country: Russia
Index: 141, Country: Rwanda
Index: 142, Country: Saudi Arabia
Index: 143, Country: Sudan
Index: 144, Country: Senegal
Index: 145, Country: Singapore
Index: 146, Country: Solomon Islands
Index: 147, Country: Sierra Leone
Index: 148, Country: El Salvador
Index: 149, Country: Somalia
Index: 150, Country: Serbia
Index: 151, Country: South Sudan
Index: 152, Country: Sao Tome and Principe
Index: 153, Country: Suriname
Index: 154, Country: Slovak Republic
Index: 155, Country: Slovenia
Index: 156, Country: Sweden
Index: 157, Country: Eswatini
Index: 158, Country: Seychelles
Index: 159, Country: Syria
Index: 160, Country: Chad
Index: 161, Country: Togo
Index: 162, Country: Thailand
Index: 163, Country: Tajikistan
Index: 164, Country: Turkmenistan
Index: 165, Country: Timor-Leste
Index: 166, Country: Tonga
Index: 167, Country: Trinidad and Tobago
Index: 168, Country: Tunisia
Index: 169, Country: Turkey
Index: 170, Country: Taiwan
Index: 171, Country: Tanzania
Index: 172, Country: Uganda
Index: 173, Country: Ukraine
Index: 174, Country: Uruguay
Index: 175, Country: USA
Index: 176, Country: Uzbekistan
Index: 177, Country: St. Vincent and the Grenadines
Index: 178, Country: Venezuela
Index: 179, Country: Vietnam
Index: 180, Country: Vanuatu
Index: 181, Country: Samoa
Index: 182, Country: Yemen
Index: 183, Country: South Africa
Index: 184, Country: Zambia
Index: 185, Country: Zimbabwe

In [90]:
#last index is 185 so we have 186 unique listed countries
#I don't know how to classify data with continents, so I picked the all ad sorted them using population data on its own.

In [94]:
population_data = pd.read_csv("/Users/elifozlem/Downloads/population.csv", index_col=0, header=0)
population_data.reset_index(inplace=True)
population_data.index.name = None
print(population_data)
sorted_populations = population_data.iloc[:2].sort_values(by='2100', ascending=False)
print(sorted_populations)

          country   1800   1801   1802   1803   1804   1805   1806   1807  \
0     Afghanistan  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M
1          Angola  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M
2         Albania   400k   402k   404k   405k   407k   409k   411k   413k
3         Andorra   2650   2650   2650   2650   2650   2650   2650   2650
4             UAE  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k
..            ...    ...    ...    ...    ...    ...    ...    ...    ...
192         Samoa  47.3k  47.3k  47.3k  47.3k  47.3k  47.3k  47.3k  47.2k
193         Yemen  2.59M  2.59M  2.59M  2.59M  2.59M  2.59M  2.59M  2.59M
194  South Africa  1.45M  1.45M  1.46M  1.46M  1.47M  1.47M  1.48M  1.49M
195        Zambia   747k   758k   770k   782k   794k   806k   818k   831k
196      Zimbabwe  1.09M  1.09M  1.09M  1.09M  1.09M  1.09M  1.09M  1.09M

      1808  ...   2091   2092   2093   2094   2095   2096   2097   2098  \
0    3.28M  ...   108M   108M   109M   109M   109M   110M   110M   110M
1    1.57M  ...   125M   126M   127M   128M   129M   130M   131M   131M
2     414k  ...  1.35M  1.32M  1.29M  1.26M  1.23M  1.21M  1.18M  1.15M
3     2650  ...  62.5k  62.2k  61.9k  61.7k  61.4k  61.2k  60.9k  60.7k
4    40.2k  ...  13.5M  13.5M  13.6M  13.7M  13.8M  13.8M  13.9M    14M
..     ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
192  47.2k  ...   432k   434k   435k   436k   437k   438k   439k   440k
193  2.59M  ...  73.2M  73.3M  73.5M  73.6M  73.7M  73.8M  73.9M    74M
194  1.49M  ...  75.6M  75.5M  75.4M  75.3M  75.2M  75.1M    75M  74.8M
195   843k  ...  60.3M  60.7M  61.1M  61.5M  61.9M  62.2M  62.6M  62.9M
196  1.09M  ...  35.1M  35.2M  35.3M  35.4M  35.4M  35.5M  35.5M  35.6M

      2099   2100
0     111M   111M
1     132M   133M
2    1.12M   1.1M
3    60.5k  60.2k
4      14M  14.1M
..     ...    ...
192   441k   441k
193  74.1M  74.2M
194  74.7M  74.6M
195  63.3M  63.6M
196  35.6M  35.6M

[197 rows x 302 columns]
<bound method NDFrame.head of        country   1800   1801   1802   1803   1804   1805   1806   1807   1808  \
1       Angola  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M
0  Afghanistan  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M

   ...  2091  2092  2093  2094  2095  2096  2097  2098  2099  2100
1  ...  125M  126M  127M  128M  129M  130M  131M  131M  132M  133M
0  ...  108M  108M  109M  109M  109M  110M  110M  110M  111M  111M

[2 rows x 302 columns]>

In [ ]:
#categorizing high-low population (I messed here up and fixed with gpt but didn't work

In [120]:
def categorize_population(population):
    if pd.isna(population):
        return 'Unknown'
 
    elif isinstance(population, float): #I added this because I had an error with floats and NaN info
        population_numeric = round(population)
    else:

        population_numeric = round(float(population.replace('M', '000000').replace('k', '000')))
    
   
    if population_numeric > high_threshold:
        return 'High'
    elif population_numeric > medium_threshold:
        return 'Medium'
    else:
        return 'Low'
print(population_data)

print(population_data['Population Category'])

0       111M
1       133M
2       1.1M
3      60.2k
4      14.1M
       ...
192     441k
193    74.2M
194    74.6M
195    63.6M
196    35.6M
Name: 2100, Length: 197, dtype: object